Add a new chair to my database


<form action="/api/chairs" method ="post">
  <p> color: <input type="text" name="color"> </p> 
  <p>weight: <input type="text" name="weight"> </p>
  <p>legs: <input type="text" name="legs"> </p>
  <p>style: <input type="text" name="style"> </p>

  <input type = "submit" value = "make a new char!">
</form>